body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #c1fff2, #baffdf);
  color: 5E6472;
  font-family: "Funnel Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

p {
 margin-left: calc(0.25 * 100%);
 margin-right: calc(0.25 * 100%);
 font-size: 25px;
 background-color: #ffffff;
 width: 90%;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 30px;
 padding-bottom: 30px;
 border-radius: 25px;
}

h1 {
  text-align: center;
}

.image {
    position: relative;
    left: 300px;
    top: 50px;
}

.home > p {
  max-width: 70vw;
  padding: 20px;
  border-radius: 25px;
}

.home {
    align-items: center;       
    text-align: center;
}

.boroughs {
    border-radius: 25px;
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;
    background-color: #9dc0bc;
    color: #baffdf;
    padding: 30px;
    margin: 0 auto;
    gap: 10px;    
    align-items: stretch;             
  }
  
  .boroughs > div {
    background-color: #7c7287;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;               
    max-width: 300px;          
    min-width: 50px;   
    height: auto;      
    box-sizing: border-box;  
    font-size: 25px;  
  }

  @media (max-width: 575px) {
    .boroughs > div {
      font-size: 12px;
    }
  }
  
hr {
  border: 1px solid #9dc0bc;
  width: 65%;
}
