<!DOCTYPE html>
<html>
<head>
<title> Weather App </title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
<h1> Site Name </h1>
<hr> 
<br />
<div class="boroughs">
    <div> Bronx </div>
    <div> <a href="{{ url_for('forecast_brooklyn') }}">Brooklyn</a> </div>
    <div> <a href="{{ url_for('forecast_manhattan') }}">Manhattan</a> </div>
    <div> <a href="{{ url_for('forecast_queens') }}">Queens</a> </div>
    <div> Staten Island </div> 
</div>

<hr> 

{% block content %}{% endblock %}

</body>
</html>