body {
    background-image: linear-gradient(to right,#C1FFF2 , #BAFFDF);
    color: #7c7287;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    border: 1px solid #9DC0BC; 
    width: 65%;
}
